h1 {
  font-size: 100px;
  font-style: italic;
  color: rgb(240, 39, 156);
}

.cj {
  transform: rotate(235deg);
  position: relative;
  right: -600px;
}

.cj:hover {
  cursor: pointer;
}

.tiana {
  height: 300px;
}

.tianaface {
  position: relative;
  right: 600px;
}

.uglyface {
  position: relative;
  right: -300px;
  bottom: 700px;
  left: -250px;
}

.hippo {
  height: 300px;
  position: relative;
  bottom: 900px;
}

.nessa {
  height: 250px;
  position: relative;
  bottom: 650px;
  right: 230px;
}

.thought {
  position: relative;
  left: 900px;
  bottom: 300px;
}

.cameron {
  position: relative;
  left: 700px;
  bottom: 100px;
  
}
